.about-us-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-us-container h2 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

.about-us-container p {
  color: #555;
  font-size: 16px;
  line-height: 1.5;
}

.goals-missions {
  margin-top: 30px;
}

.goals-missions h3 {
  color: #333;
  font-size: 24px;
  margin-bottom: 15px;
}

.goals-missions ul {
  list-style-type: none;
  padding-left: 0;
}

.goals-missions li {
  margin-bottom: 15px;
  cursor:pointer;
}

.goals-missions li strong {
  color: #555;
}

.about-us {
  padding: 40px;
}
